@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: antiquewhite;
}
* {
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;        
}
nav ul{
  display: flex;  
  align-items: center;
  list-style-type: none;
  height:65px;
  background-color: black;
  color:white;
  cursor: pointer;
  text-decoration: underline;
  color:rgb(58, 205, 58);
}
.brand img{
    width:40px;
    padding:0 8px;
}
.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font: size 1.3em;
}
nav ul li{
padding:0 12px;
}
.songlist{
    align-items: flex-end;
}
h1{
    margin-top: 15px;
    color:whitesmoke;
    margin-left: 20px;
    font-style:oblique;
    font-size: 20px;
}
.container{
    position: sticky;
    min-height: 70vh;
    background-color: black;
    color:white;
    font-family: 'Varela Round',sans-serif;
    margin: 18px auto;
    width:70%;
    border-radius:6px;
   background-image: url("arijit-2.jpg");
}
.songitem{
    width:330px;
    display: flex;
    margin-top:15px;
    background-color: lightgray;
    color: black;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
    margin-left: 5px;
    border-radius: 20px;
    font-style: italic;
    font-size: 10px;
}
.songitem img{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    margin-left:15px;
}
.songlistplay i{
   margin-right: 5px;   
   cursor: pointer; 
}
.timestamp{
    margin-right:10px;
}
.bottom{
    position:sticky;
    height:90px;
    background-color: black;
    bottom:0;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#myprogreeBar{
    width:60vw;
    height:3vw;
    cursor: pointer;
}
.icons{
    margin-top: 12px;
}
.bottom i{
    cursor: pointer;
    margin-left: 10px;
}
.songinfo{
    position: absolute;
    left:20vw;
    font-style: 'Varela Round',sans-serif;
}
.songinfo img{
    margin-top: 33px;
    width: 40px;
    height: 10px;
    opacity: 0;
    transition: opacity 0.4s ease-in ;
}
